@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
}

@font-face {
    font-family: 'DONGGUK UNIVERSITY';
    src: url("../fonts/DONGGUK UNIVERSITY.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DONGGUK UNIVERSITY';
    src: url("../fonts/DONGGUK UNIVERSITY.otf");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'ELAND_Choice_M';
    font-size: 1.2rem;
    font-weight: 600;
}


    body {
        max-width: 430px;
        display: flex;
        width: 100%;
        height: 100vh;
        margin: 0;
        justify-content: center;
        
}

.wallpaper{
    max-width: 430px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('image/bgimage.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > .header,
.container > .welcome,
.container > .login_form {
    text-align: center;
    color: white; /* 헤더의 글자 색상을 지정 */
}

/* header */
span.head_name{
    margin-left: -21rem;
    margin-top: 1rem;
    position: absolute;
}

.prof{
    margin-left: 25.3rem;
    margin-top: -1.4rem;
    position: relative;
    

}

#pro{
    font-size: xx-large;
}

/* arrow */
#back{
    font-size: xxx-large;
    margin-left: -23rem;
    margin-top: 0.5rem;
}

/* welcome */

span#welcome_announce{
    margin-top: 10rem;
    font-size: 40px;
    font-family: 'Tenada';
    position: relative;
    color: #FAFBFD;
    width: 100vw;
    transform: translateX(2.4%);
    top: 220px;
    left: 7%;
    line-height: 1.2;
}

/* form */
.login_form{
    background-color: #FFD700;
    border: none;
    border-radius: 20px;
    position: relative;
    left: 50%;
    top: 20rem;
    transform: translate(-50%, 50%);
    font-family: 'DONGGUK UNIVERSITY';
    height: 38px;
    font-weight: 100;
    width: 221px;
    font-size: 15px;
    color: black;
    
}

.signup_form{
    top: 21rem;
    background-color: #FFD700;
    border: none;
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 221px;
    font-family: 'DONGGUK UNIVERSITY';
    font-size: 15px;
    height: 38px;
    text-align: center;
    font-weight: 100;
    color: black;
}

.backk{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    font-size: 30px;
    list-style-type: none;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 60px;
}

.fa-arrow-left:before {
    content: "\f060";
    font-size: 40px;
}