/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
font-family : Helvetica;
}
                                          /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
display: block;
}
                     /* HTML5 hidden-attribute fix for newer browsers */
                     *[hidden] {
display: none;
}
body {
line-height: 1;
}
menu, ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table{
border-collapse:collapse;
border-spacing:0;
}

                     * {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:inherit;
}

/* start */
@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }
  
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

.wallpaper{
    max-width: 430px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('image/bgimage.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }


    .backk{
        display: flex;
        position: absolute;
        justify-content: flex-start;
        font-size: 30px;
        list-style-type: none;
        text-decoration: none;
        margin-left: 25px;
        margin-top: 85px;
        z-index: 10000;
    }

    .admintitle{
        border: none;
        height: 20%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

.title{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 12px;
}

.body{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    height: 58%;
    font-size: 17px;
}

.text-wrapper{
    background-image: url("image/qnaticketline.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 100vh;
    width: 83%;
    top: 14%;
    left: 8%;
}

.comment_container{
    height: 50%;
    overflow-y: scroll;

}

.comment_form{
    margin-top: -90px;
    display: flex;
    margin-left: 10%;
    position: absolute;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color:white;
    width: 300px;
    height: 38px;
    border-radius: 20px;
}

.username{
    margin-left: 10px;
    flex-direction: row;
    display: flex;
    margin-top: 30px;

}

.fa-circle-user:before {
    margin-right: 5px;
    }

.comment{
    display: flex;
    position: relative;
    left: 85%;
    top: 320%;
}

.fa-message{
    font-size: 15px;
}

.fa-message:before {
    margin-right: 5px;
    }

    .content{
        width: 83%;
        margin-left: 10px;
        border: 1px solid red;
        /* height: 80px; */
        margin-top: 10px;
    }

    .line{
        background-color:black;
    }

    .likebutton{
        border: 1px solid blue;
        width: 13%;
        margin-left: 87%;
        margin-top: -10%;
    }

    .post-text{
        border:none;
    }

    .submit-button{
        border: none;
        background-color: transparent;
        margin-left: 90px;
        font-size: 18px;
    }/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
font-family : Helvetica;
}
                                          /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
display: block;
}
                     /* HTML5 hidden-attribute fix for newer browsers */
                     *[hidden] {
display: none;
}
body {
line-height: 1;
}
menu, ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table{
border-collapse:collapse;
border-spacing:0;
}

                     * {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:inherit;
}

/* start */
.wallpaper{
    max-width: 430px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('image/bgimage.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }


    .backk{
        display: flex;
        position: absolute;
        justify-content: flex-start;
        font-size: 30px;
        list-style-type: none;
        text-decoration: none;
        margin-left: 25px;
        margin-top: 85px;
        z-index: 10000;
    }

    .admintitle{
        border: none;
        height: 20%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

.title{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 12px;
}

.body{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    height: 58%;
    font-size: 17px;
}

.text-wrapper{
    background-image: url("image/qnaticketline.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 100vh;
    width: 83%;
    top: 14%;
    left: 8%;
}

.comment_container{
    height: 50%;
    overflow-y: scroll;

}

.comment_form{
    margin-top: -90px;
    display: flex;
    margin-left: 10%;
    position: absolute;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color:white;
    width: 300px;
    height: 38px;
    border-radius: 20px;
}

.username{
    margin-left: 10px;
    flex-direction: row;
    display: flex;
    margin-top: 30px;

}

.fa-circle-user:before {
    margin-right: 5px;
    }

.comment{
    display: flex;
    position: relative;
    left: 85%;
    top: 320%;
}

.fa-message{
    font-size: 15px;
}

.fa-message:before {
    margin-right: 5px;
    }

    .content{
        width: 83%;
        margin-left: 10px;
        border: 1px solid red;
        /* height: 80px; */
        margin-top: 10px;
    }

    .line{
        background-color:black;
    }

    .likebutton{
        border: 1px solid blue;
        width: 13%;
        margin-left: 87%;
        margin-top: -10%;
    }

    .post-text{
        border:none;
    }

    .submit-button{
        border: none;
        background-color: transparent;
        margin-left: 90px;
        font-size: 18px;
    }