/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
font-family : Helvetica;
}
                                          /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
display: block;
}
                     /* HTML5 hidden-attribute fix for newer browsers */
                     *[hidden] {
display: none;
}
body {
line-height: 1;
}
menu, ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table{
border-collapse:collapse;
border-spacing:0;
}

                     * {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    margin-right: 3px;
}

/* start */
@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wallpaper{
    max-width: 430px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('image/bgimage.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    }


.backk{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    font-size: 30px;
    list-style-type: none;
    text-decoration: none;
    z-index: 10000;
    top: 7%;
    left: 7%;
    }

/* 첫번째 줄 */

.text-wrapper{
    position: relative;
    height: 75%;
    width: 84%;
    background-color: #D9C1A9;
    border-radius: 20px;
    }

.admintitle{
    border: none;
    height: 20%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    }

.title{
    font-family: 'GowunDodum-Regular';
    font-size: 20px;
    margin-top: 30%;
    margin-left: 10%;
    width: 90%;
}

.qna-body{
    font-family: 'GowunDodum-Regular';
    width: 90%;
    margin-top: 10%;
    margin-left: 2%;
    height: 110px;
    font-size: 17px;
}

.comment-box{
    font-family: 'GowunDodum-Regular';
    display: flex;
    position: relative;
    left: 80%;
    bottom: 18%;
}

.hr-line{
    z-index: 1000000;
    position: absolute;
    width: 100%;
    margin-top: 250px;
    border-top-width: 1px;
    border-bottom-style: outset;
    border-color: #bbb;
}

/* 두번째 줄 */

.bottom_container{
    display: flex;
    position: relative;
    flex-direction: column;
    top: 10%;
    height: 70%;
    overflow-y: scroll;
}

.whole{
    display: flex;
    margin: 5%;
    position: relative;
    align-items: center;
    justify-content: space-between;
}


.username{
    flex-direction: row;
    display: flex;

}

.fa-circle-user:before {
    margin-right: 5px;
    }

.user-content{
    display: flex;
    flex-direction: column;
    }



.fa-message{
    font-size: 15px;
}

.fa-message:before {
    margin-right: 5px;
    }

.content{
    margin-left: 5%;
    align-items: center;
    position: relative;
    display: flex;
    }

.box{
    display: flex;
    position: relative;
    flex-direction: row;
}

.line{
        background-color:black;
        border-top-width: 1px;
    }

.likey{
    border: 1px solid black;
}


.likebutton{
        width: 13%;
        display: flex;
        flex-direction: row;
        margin-left: 5px;
}

.likebutton a{
    text-decoration: none;
    color: inherit;
    margin-right: 3px;
    margin-left: 1px;
}

.like-count{
    margin-right: 1px;
}


.second-content{
    margin-left: 12%;
    align-items: center;
    position: relative;
    display: flex;
    }

.second-box{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.second-username{
    margin-left: 8%;
}

.replies{
    display: flex;
    position: relative;
    flex-direction: column;
}

.reply-delete-buttons a{
    text-decoration: none;
    color: inherit;
    margin: 0%;
}



.delete-comment{
    border: 1px solid black;
    background-color: transparent;
    left: 3px;
    position: relative;
}

.reply-toggle{
    border:none;
    background-color: transparent;
    border: 1px solid black;
    height: 20px;
}

.reply-form{
    border:none;
    background-color: transparent;
    border: 1px solid black;
}

.text{
    width: 10px;
}

.opacity{
    width: 7%;
    position: fixed;
    display: flex;
    top: 87%;
    left: 77%;
}

.comment-buttons-reply-toggle {
    display: flex;
    align-items: center;
    width: 50px;
    margin-left: 240px;
    /* margin-left: 238px; */
    /* justify-content: center;
}

.comment-buttons {
    border: 1px solid black;
    /* margin-right: 10px; */
}

.reply-toggle-container {
    display: flex;
    align-items: center;
    /* margin-left: 90px; */
}

.delete-reply{
    background-color: transparent;
    border: 1px solid black;
    height: 20px;
}

/* 댓글 박스 */


.comment_form{
    margin-top: 720px;
    position: absolute;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 38px;
    border-radius: 20px;
}

.post-text{
    border: none;
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 245px;
    height: 35px;
    margin-left: 6%;
}

.submit-button{
    font-family: 'GowunDodum-Regular';
    border: none;
    background-color: transparent;
    margin-left: 112%;
    margin-bottom: 12%;
    font-size: 18px;
}

