/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
font-family : Helvetica;
}
                                          /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
display: block;
}
                     /* HTML5 hidden-attribute fix for newer browsers */
                     *[hidden] {
display: none;
}
body {
line-height: 1;
}
menu, ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table{
border-collapse:collapse;
border-spacing:0;
}

                     * {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:inherit;
}

/* start */
@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DONGGUK UNIVERSITY';
    src: url("../fonts/DONGGUK UNIVERSITY.otf");
    font-weight: normal;
    font-style: normal;
}

.wallpaper{
    max-width: 430px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('image/bgimage.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    }


    .backk{
        /* display: flex;
        position: absolute;
        justify-content: flex-start;
        font-size: 30px;
        list-style-type: none;
        text-decoration: none;
        margin-left: 25px;
        margin-top: 85px;
        z-index: 10000; */
        display: flex;
        position: absolute;
        justify-content: flex-start;
        font-size: 30px;
        list-style-type: none;
        text-decoration: none;
        z-index: 10000;
        top: 7%;
        left: 7%;

    }

    .admintitle{
        border: none;
        height: 20%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

.title{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 12px;
}

.body{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    height: 110px;
    font-size: 17px;
}

.text-wrapper{
    position: relative;
    height: 620px;
    width: 340px;
    /* top: 14%;
    left: 6%; */
    background-color: #D9C1A9;
    border-radius: 20px;
}

.comment_container{
    height: 68%;
    overflow-y: scroll;
    margin-top: 67px;

}

.comment_form{
    /* margin-top: 143px; */
    margin-top: 720px;
    display: flex;
    /* margin-left: 12%; */
    position: absolute;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 38px;
    border-radius: 20px;
}

.username{
    margin-left: 10px;
    flex-direction: row;
    display: flex;
    margin-top: 10px;

}

.fa-circle-user:before {
    margin-right: 5px;
    }

    .user-content{
        display: flex;
        flex-direction: column;
    }

.comment{
    display: flex;
    position: relative;
    left: 85%;
    top: 320%;
}

.fa-message{
    font-size: 15px;
}

.fa-message:before {
    margin-right: 5px;
    }

    .content{
        width: 65%;
        margin-left: 10px;
        border: 1px solid red;
        /* height: 80px; */
        margin-top: 10px;
    }

    .line{
        background-color:black;
    }

    .likebutton{
        width: 13%;
        margin-left: 87%;
        display: flex;
    flex-direction: row;

    }

    .post-text{
        border:none;
    }

    .submit-button{
        border: none;
        background-color: transparent;
        margin-left: 90px;
        font-size: 18px;
    }

    .hr-line{
        z-index: 1000000;
        position: absolute;
        width: 100%;
        margin-top: 250px;
    }

    .admintitle hr.hr-line {
        border-top-color: black;
        border-top-width: 4px;
}

.delete-comment{
    border:none;
    background-color: transparent;
}

.reply-toggle{
    border:none;
    background-color: transparent;
    border: 1px solid black;
    margin-left: -1px;
    height: 20px;

}

.comment-buttons-reply-toggle {
    display: flex;
    align-items: center;
    /* border: 1px solid black; 네모 박스 주위에 1px 두께의 회색 선 추가 */
    /* padding: 5px; 네모 박스와 선 사이의 간격을 조정 */
    width:50px;
    /* margin-left: 238px; */
}

.comment-buttons {
    border: 1px solid black;
    /* margin-right: 10px; */
}

.reply-toggle-container {
    display: flex;
    align-items: center;
}

.reply-toggle {
    /* margin-right: 10px; */
}