

@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DONGGUK UNIVERSITY';
    src: url("../fonts/DONGGUK UNIVERSITY.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.wallpaper{
    max-width: 430px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('image/bgimage.png');
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

.backk{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    font-size: 30px;
    list-style-type: none;
    text-decoration: none;
    margin-left: 25px;
    margin-top: 85px;
    z-index: 10000;
}

.buttons{
    display: flex;
    align-items: center;
    position: fixed;
    top: 80px;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    width:100%;
}

.recently{
    color:#FAFBFD;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'GowunDodum-Regular';
    margin: 10px;
    
}

.recently2{
    color:#AEAEAE;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'GowunDodum-Regular';
    margin: 10px;
    
}

.stick{
    color: #FAFBFD;   
    font-size: 30px;
}

.active{
    color:#AEAEAE;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'GowunDodum-Regular';
    margin: 10px;
}

.active2{
    color:#FAFBFD;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    font-family: 'GowunDodum-Regular';
    margin: 10px;
}

.qna-list{
    position: absolute;
}



/* 티켓 이미지 추가 가보자고 */

.card_container {
    display: flex;
    flex-direction: row;
    margin-top: calc(30% + 20px);
    justify-content: center;
    flex-wrap: wrap;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    padding-bottom: 50px;
    align-content: flex-start;
}

.card{
    background-image: url('image/ticket.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 15rem;
    position: relative;
    width: 35%;
    flex-basis: calc(44% - 15px);
    margin-left: 18px;
    margin-bottom: 1.2rem;
}

/* card-body */

.card-body{
    position: relative;
    color: black;
    font-family: 'GowunDodum-Regular';
    list-style-type: none;
    text-decoration: none;
    height: 235px;
    width: 145px;
}

/* card 첫번째 줄 */

.card-fline{
    margin-left: 5px;
    margin-top: 15px;
    position: relative;
    display: flex;
    height: 25px;
}

/* 추후에 닉네임 글자수 적용하기 */
.user-info{
    position: relative;
    display: flex;
    height: 25px;
    width: 145px;
}

.for{
    position: relative;
    display: flex;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lanterncolor {
    margin-left: 95px;
    position: fixed;
    display: flex;
    height: 40px;
    }

.light{
    display: flex;
    width: 40px;
    left: 100%;
    height: 40px;
    margin-top: -2px;
}

.nickname {
    position: relative;
    display: flex;
    margin-left: 16px;
    margin-top: 8px;
    width: 106px;
    font-size: 13px;
    color: black;
    align-items: center;
    text-overflow: ellipsis;
}



/* card 날짜 좋아요 */

.card-sline{
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 115px;
    height: 19px;
    margin-left: 18px;
    justify-content: space-between;
}

.date{
    position: relative;
    display: flex;
    color: #FAFBFD;
    font-size: 0.5rem;
}

.like{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: -1px;
}

.fa-heart{
    font-size: 10px;
    /* margin-left: 110px;
    margin-right: 3%; */
}


.like_count{
    font-size: 11px;
    font-weight: 100;
    margin-left: 2px;
}

.number{
    color: #F8702C;
    margin-top: 13px;
    margin-left: 18px;
    font-weight: 100;
}

/* 신고 메시지는 슈퍼유저로 다시 확인할 것! */

.report-message{
    margin-top: -18px;
    margin-left: 15px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 100;
    height: 80px;
}

.card-text{
    margin-top: -18px;
    margin-left: 18px;
    margin-right: 20px;
    font-size: 13px;
    font-weight: 100;
    height: 80px;
}

.more{
    list-style-type: none;
    text-decoration: none;
    color: #F8702C;
    font-size: 12px;
    margin-left: 100px;
    display: flex;
    margin-top: -13px;
    font-weight: bold !important;
}

/* 밑에 페이지 수  */
.order{
    color: #FAFBFD;
    display: flex;
    justify-content: center;
    font-family: 'GowunDodum-Regular';
    top: 82%;
    position: fixed;
    left:43%;
}


.fa-angle-left{
    margin-right:7px;
}

.stand{
    margin-right: 7px;
    margin-left: 7px;
}

.fa-angle-right{
    margin-left: 7px;
}