{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/loginpage.css">
    <script src="https://kit.fontawesome.com/b0377dea63.js" crossorigin="anonymous"></script>
    <title>Loginpage</title>
</head>
<body>
    <div class="container">
        <!-- <div class="background"> -->

        <div class="header">
            <div id="head_name">이루미 티켓</div>
            <div class="prof">
            <i class="fa-regular fa-circle-user" id="pro"></i></div>
        </div>
        <div class="arrow">
        <i class="fa-solid fa-arrow-left" id="back"></i>
        </div>

        <div class="welcome">
            <div id="welcome_announce">이루미 티켓 발급처에<br>오신 것을 환영합니다</div>
        </div>

        <div class="google_login">
            <img src='https://ifh.cc/g/fQcBa5.jpg' id="google_logo">
        <!-- 구글 로그인 버튼으로 변환해봄 -->
            <a href="{% provider_login_url 'google' %}">구글로 시작하기</a>
            <!-- <div id="google">구글로 시작하기</div> -->
        </div>

        <div class="kakao_login">
            <i class="fa-solid fa-comment" id="kakao_logo"></i>
            <div id="kakao">카카오로 시작하기</div>
        </div>
        <!-- </div> -->
    </div>
</body>
</html>
