<!-- 로그인 화면 -->
<!-- static 폴더 불러오기 -->
{% extends 'base.html' %} 
{% block content %} 
<head>
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://kit.fontawesome.com/b0377dea63.js" crossorigin="anonymous"></script>
    <title>Login_choice</title>
</head>
<body>
        <!--<div class="background"> -->
    
        <div class="wallpaper">

            <div class="backk">
                <a class="back" href="{% url 'mainpage:mainpage' %}"><i class="fa-solid fa-arrow-left" style="color: #ffffff;" font-size:24px;></i></a>
            </div>
        <!-- 배경이미지 -->
        <!-- <div class="header">
            <span class="head_name">이루미 티켓</class> -->

            <div class="welcome">
                <span id="welcome_announce">이루미 티켓 발급처에<br>오신 것을 환영합니다</span>
            </div>
        
        <form action="{%url 'accounts:real_login' %}">
            <input type="submit" value="로그인하기" class="login_form">
        </form>

        <form action="{% url 'accounts:signup' %}">
            <input type="submit" value="회원가입 하기" class="signup_form">
        </form>

    </div>
    
</body>
{%endblock%}
