<!-- 기본기능만 있는 회원가입 창 -->
<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form method="POST" action="{% url 'accounts:signup' %}">
            {% csrf_token %}
            <p>username</p>
            <input type="text" name="username">
            <span class="error-message">{{ error_username }}</span>
            <br>
            
            <p>nickname</p>
            <input type="text" name="nickname">
            <span class="error-message">{{ error_nickname }}</span>
            <br>

            <p>password</p>
            <input type="password" name="password">
            <br>

            <p>confirm</p>
            <input type="password" name="confirm">
            <span class="error-message">{{ error_password }}</span>
            <br>

            <input type="submit" value="회원가입">
        </form>
    </body>
</html>