{% extends 'base.html' %} 
{% block content %}

<head>
  <title>ticketdetail</title>
  <link rel="stylesheet" href="/static/css/detail.css">
</head>

<div class="wallpaper">

  <!--화살표 상단-->
  <div class="backk">
    <a class="back" href="{% url 'mainpage:ticketlistnew' %}"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i></a>
</div>


    <!--티켓 디자인-->

    <div class="card_container">

      <div class="card">
          <div class="card-body">
              <!--첫번째줄-->
              <div class="card-fline">
                  <div class="user-info">
                      <div class="for">For.</div>
                      <!-- 이부분이 응원수에 따른 연등색 변화 자리 -->
                      <div class="lanterncolor">
                      {% if ticket.like_count >= 10 %}
                      <img src="../static/css/image/light.png" class="light" alt="티켓 이미지">
                      {% else %}
                      <img src="../static/css/image/original.png" class= "light" alt="티켓 이미지">
                      {% endif %}
                      </div>
                  </div>
              </div>
                  <div class="nickname">{{ticket.writer.profile.nickname}}</div>
              
              
              <!--날짜 좋아요-->
              <div class="card-sline">
              <span class="date">{{ ticket.pub_date|date:"Y년 m월 d일" }}</span>
              <span class="like"><i class="fa-solid fa-heart" style="color: #f8702c;"></i><a class="like_count">{{ticket.like_count}}</a></span>
              </div>
              <h4 class="number"> #{{ticket.id}} </h4>

              <!-- 신고 3회 이상 시-->
              {% if ticket.report_count >= 3 %}
                  <h5 class="report-message">3회 이상 신고되어 관리자가 확인 중인 게시글입니다.</h5>
              {% else %}
                  <h4 class="card-text">{{ticket.body}}</h4>
              {% endif %}

              <!--응원하기 버튼-->
              <a href="{% url 'mainpage:likes' ticket.id %}" id="likeToggle">
              <p class="cheer">
              <span class="cheer-up">응원</span>
              {% if user in ticket.like.all %}
              <i class="fa-solid fa-heart filled" style="color: #f8702c;"></i>
              {% else %}
              <i class="fa-regular fa-heart" style="color: #f8702c;"></i>
              {% endif %}
              </p>
              </a>

  <!--응원하기 버튼-->
  <a href="{% url 'mainpage:likes' ticket.id %}" id="likeToggle">
    <p class="cheer">
      <span class="like_count">응원</span>
      {% if user in ticket.like.all %}
        <i class="fa-solid fa-heart filled" style="color: #f8702c;"></i>
      {% else %}
        <i class="fa-regular fa-heart" style="color: #f8702c;"></i>
      {% endif %}
    </p>
  </a>
  



    <!--신고 및 삭제-->
    {% if user.is_authenticated %}
      {% if user != ticket.writer %}
      <form action="{% url 'mainpage:report' ticket.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="report-button">
          <i class="fa-solid fa-land-mine-on" style="color: #c60b00;"></i>
        </button>
      </form>
        {% else %}
        <form action="{% url 'mainpage:delete' ticket.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="delete-button">
            <i class="fa-solid fa-trash-can" style="color: #ffffff;"></i>
          </button>
        </form>
        {% endif %}
    {% endif %}


    </div>
  </div>
</div>



<script>
  const likeToggle = document.getElementById("likeToggle");

  likeToggle.addEventListener("click", function() {
    likeToggle.classList.toggle("liked");
  });
</script>

<!--하단 네브바-->
<nav class="footer-container">
  <ul class="icons">
      <li><a href="{% url 'mainpage:ticketlistnew' %}"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></a></li>
      <li><a href="{% url 'mainpage:new' %}"><i class="fa-regular fa-pen-to-square" style="color: #000000;"></i></a></li>
      <li><a href="{% url 'qnapage:qnalistrecent' %}"><i class="fa-regular fa-compass" style="color: #000000;"></i></a></li>
  </ul>
</nav>

{% endblock %}
