<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/intropage.css">
    <title>이루미티켓</title>
</head>
<body>
    <div class="wallpaper"></div> 
    <!--배경이미지-->
    <span class="lumiticket">이루미티켓</span>
    <!--이루미티켓 텍스트-->
    <button type="button" onclick="location.href='/loadingpage/';">시작하기</button>
    <!--시작하기 버튼-->
</body>
</html>

