{% extends 'base.html' %} {% block content %}

<head>
  <link rel="stylesheet" href="/static/css/mainpage.css" />
</head>

<body>
  <div class="wallpaper">
    <!--좋아요 많은 거 두 개만 출력하는 거-->
    <div class="post">
      {% for ticket in tickets|slice:":2" %}
      <a class="atag" href="{%url 'mainpage:detail' ticket.id %}">
        <div class="hot">
          <div class="content">
            <div class="contents">
              <div class="ticket-id">#{{ticket.id}}</div>
              <div class="like-count">
                <i class="fa-solid fa-heart" style="color: #f8702c"></i>
                {{ticket.like_count}}
              </div>
            </div>
            <div class="summary">{{ticket.summary}}...</div>
            <div class="pub-date">{{ ticket.pub_date|date:"Y년 m월 d일" }}</div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    <!--자기탐구아카이빙-->

    <div class="achiving">
      <button
        type="button"
        onclick="location.href='{% url 'qnapage:qnalistrecent' %}';"
      >
        지금 시작하기
      </button>
    </div>
  </div>

  <!--하단 nav바-->

  <div>
    <nav class="footer-container">
      <ul class="icons">
        <li>
          <a href="{% url 'mainpage:ticketlistnew' %}"
            ><i class="fa-solid fa-magnifying-glass" style="color: #000000"></i
          ></a>
        </li>
        <li>
          <a href="{% url 'mainpage:new' %}"
            ><i class="fa-regular fa-pen-to-square" style="color: #000000"></i
          ></a>
        </li>
        <li>
          <a href="{% url 'qnapage:qnalistrecent' %}"
            ><i class="fa-regular fa-compass" style="color: #000000"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</body>
{% endblock %}
