{% extends 'base.html' %} 
{% block content %}

<head>
    <title>ticketnew</title>
    <link rel="stylesheet" href="/static/css/new.css">
</head>

<div class="wallpaper">

    <div class="backk">
        <a class="back" href="{% url 'mainpage:mainpage' %}"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i></a>
    </div>


    <div class="text-wrapper">

            <img src="../static/css/image/lantern.png" alt="티켓 이미지">

        <form action="{% url 'mainpage:create' %}" method="POST">
            {% csrf_token %} 
            <p class="username">For.{{user.profile.nickname}}</p>
            <!--<p>For. {{ticket.nickname}}</p>
            이 부분은 기존 Nickname 받아오는 건데 뷰함수에서 알아서 불러와지게 설정해놓은 거임
            그래서 아마 기본 티켓 쓰는 화면에 For가 있어야 하거나... 프론트가 구현해주길 기다리는...--> 
            <div class="textline">
                <textarea type="text" name="body" cols="30" rows="10" placeholder="소원을 작성해주세요 :)
욕설은 필터링 및 신고처리 될 수 있습니다."></textarea>
            </div>
        
        </div>

            <button class="submit" type="submit">티켓 제출하기</button>
        </form>

</div>

{% endblock %}
