<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/mypage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3130e06a9f.js" crossorigin="anonymous"></script>
    <title>My page</title>
  </head>
  <body>
<div class="wallpaper">

      <!--상단 nav바-->
      <nav class="nav-container">
        <ul class="logo">
          <li><a href="{% url 'mainpage:mainpage' %}">이루미 티켓</a></li>
        </ul>
        <ul class="icon">
          <li><a href = "{% url 'accounts:logout' %}"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #ffff"></i></a>
          </li>
        </ul>
      </nav>

      <!--프로필 닉네임-->
      <div class="profile">
        <div class="profile-img">
          <i class="fa-solid fa-circle-user" style="color: #fafbfd"></i>
        </div>
        <div class="nickname">{{user.profile.nickname}}</div> 
      </div>

      <!--내 티켓 더보기-->
        <div class="first-more">
          <div class="my-ticket">내 티켓</div>
            {% if tickets|length > 2 %}
            <a class="f-more" href="{% url 'mypage:myticketlist' request.user.id %}">더보기</a>
            {% endif %}
        </div>

        
      <!--내 티켓 디자인-->
    <div class="container">
        <div class="card_container">
            {% for ticket in tickets|slice:":2" %}
                {% if ticket.writer == request.user %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-subtitle mb-2 text-muted card-nickname">For. {{ticket.writer.profile.nickname}}</h4>
                        <h4 class="date">{{ ticket.pub_date|date:"Y년 m월 d일" }}</h4>
                        <h4 class="like"><i class="fa-solid fa-heart" style="color: #f8702c;"></i><a class="like_count">{{ticket.like_count}}</a></h4>
                        <h4 class="number"> #{{ticket.id}} </h4>
                        <h4 class="card-text">{{ticket.summary}}... </h4>
                        <a href="{%url 'mainpage:detail' ticket.id %}" class="more">더보기</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
        


<!-- 나 탐구 더보기 -->
<div class="second-more">
  <div class="soul-searching">나 탐구 모음</div>
  {% if qnas|length > 2 %}
  <a class="s-more" href="{% url 'mypage:myqnalist' request.user.id %}">더보기</a>
  {% endif %}
</div>

<!--나 탐구 디자인-->
<div class="self-exploration">
    {% if qnas %}
        {% for qna in qnas|slice:":2" %}
        <div class="qna-title">
                <p class="title"><a href="{% url 'qnapage:qnadetail' qna.id %}">게시글: {{ qna.title }}</a></p>
                {% for comment in qna.qnacomment_set.all %}
                    {% if comment.writer == request.user %}
                        <p class="my-comment">내가 작성한 댓글: {{ comment.content }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

</div>
    {% else %}
        <p>아직 답한 질문이 없어요.</p>
    {% endif %}

    <!--하단 nav바-->
  <nav class="footer-container">
      <ul class="icons">
          <li><a href="{% url 'mainpage:ticketlistnew' %}"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></a></li>
          <li><a href="{% url 'mainpage:new' %}"><i class="fa-regular fa-pen-to-square" style="color: #000000;"></i></a></li>
          <li><a href="{% url 'qnapage:qnalistrecent' %}"><i class="fa-regular fa-compass" style="color: #000000;"></i></a></li>
      </ul>
  </nav>
    
</div>
</body>
</html>
