<!DOCTYPE html>
<html>

<head>
    <title>My Page</title>
</head>
<body>
    <h1>닉네임</h1>
    <button type="button" onclick="location.href='{% url 'accounts:logout' %}';">로그아웃</button>
    <!-- Add any other user information you want to display -->
    
    <h2>내 티켓</h2>
    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>{{ post.title }}</li>
                <!-- Display other post details as needed -->
            {% endfor %}
        </ul>
    {% else %}
        <p>아직 만든 티켓이 없어요.</p>
    {% endif %}
    <h2>나 탐구 모음</h2>
    {% if posts %}
    <ul>
        {% for post in posts %}
            <li>{{ post.title }}</li>
            <!-- Display other post details as needed -->
        {% endfor %}
    </ul>
    {% else %}
        <p>아직 답한 질문이 없어요.</p>
    {% endif %}
</body>
</html>