{% extends 'base.html' %} 
{% block content %} 
<head>
    <title>내가 답한 질문 모음</title>
    <link rel="stylesheet" href="/static/css/qna.css">
</head>

<body>

    <div class="wallpaper">

    <div class="backk">
        <a class="back" href="{% url 'mainpage:mainpage' %}"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i></a>
    </div>

    <div class="qna-list-container">
        <div class="qna-list">
            {% for qna in qnas %} <!--여기서 목록에서도 중복 안 뜨게 잡아야 함-->
                <div class="qna-item">
                    <!-- qna의 제목만 불러온다-->
                    <a class="nana" href="{% url 'qnapage:qnadetail' qna.id %}">{{ qna.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    
    <!-- 관리자 전용 질문글 쓰기 버튼 -->
    {% if user.is_authenticated and user.is_superuser %}
        <a class="newquestion" href="{% url 'qnapage:new' %}">새 질문글 쓰기</a>
    {% endif %}

    <!-- 최신순 버튼만 굵게 -->
    <style>
        .buttons a.active {
            font-weight: bold;
        }
    </style>

</div>

<div>
    <nav class="footer-container">
        <ul class="icons">
            <li><a href="{% url 'mainpage:ticketlistnew' %}"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></a></li>
            <li><a href="{% url 'mainpage:new' %}"><i class="fa-regular fa-pen-to-square" style="color: #000000;"></i></a></li>
            <li><a href="{% url 'qnapage:qnalistrecent' %}"><i class="fa-regular fa-compass" style="color: #000000;"></i></a></li>
        </ul>
    </nav>
</div>

</body>
{% endblock %}
